# =====================
# 🌱 Build
# =====================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =====================
# ⚙️ IDE
# =====================
.idea/
*.iml
out/
.vscode/

# =====================
# 🧪 테스트 & 로그
# =====================
logs/
*.log
test-output/
coverage/

# =====================
# 🧾 설정파일 (보안)
# =====================
application.yml
application.properties
.env

# =====================
# 📂 파일 업로드 경로 (예: 프로필 이미지 등)
# =====================
upload/
static/profile/

# =====================
# 🖥️ OS 자동 생성 파일
# =====================
.DS_Store
Thumbs.db
